* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: url(photos/background.jpg)
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header{
    background-color: white;
    font-size: 22px;
    /* margin: 25px; */
    border-bottom: 1px black solid;
}

h1{
    background-color: rgb(255, 0, 85);
    margin: 15px;
    display: inline-block;
    font-size: 25px;
}

nav{
    display: inline-block;
    width: 70%;
    text-align: right;
}

main.container{
    padding: 10px;
}


h2 {
    margin: 9px;
    font-family: sans-serif;
    font-size: 25px;
    border-bottom: 1px black solid;
}

p { 
    line-height: 140%;
    margin: 20px 15px;
}

img {
    float: left;
}

a {
text-decoration: none;
color: red;
margin: 10px;
text-transform: uppercase ;
display: inline-block;
}

#About {
    background-color: white;
    float: left;
    max-width: 700px;
    padding: 10px;
    margin-right: 20px;
}

article img {
    margin-right: 10px;
}

aside{
    background-color: white;
    margin-right: 10px;
    float: left;
}

Main::after {
    content: "";
    clear: both;
    display: block;
}

footer{
    text-align: center;
    background-color: gray;
    font-size: 25px;
    margin: 20px;
}    