* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: url(photos/background.jpg)
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header.container{
    background-color: pink;
    font-size: 22px;
    margin: 25px;
}

h1{
    background-color: rgb(255, 0, 85);
    margin: 25px;
    display: inline-block;
    font-size: 29px;
}

main.container{
    background-color: pink;
    padding: 10px;
}


h2 {
    margin: 9px;
    font-family: sans-serif;
    font-size: 25px;
}

p { 
    line-height: 140%;
    margin: 20px 15px;
}

img {
    float: left
}

a {
text-decoration: none;
color: red;
margin: 10px;
text-transform: uppercase ;
display: inline-block;
}

article {
    float: left;
    max-width: 700px;
    padding: 10px;
}

Main::after {
    content: "";
    clear: both;
    display: block;
}

footer{
    text-align: center;
    background-color: gray;
    font-size: 25px;
}